<!DOCTYPE html>
            <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Mi primera publicación</title>
                    <%- include('../partials/header') %>
                </head>
                <body>
                    <%- include('../partials/navegacion') %>
                    <div class="contenedor-global container pt-2 text-center d-flex justify-content-center align-items-center vh-100 flex-column">
                        <h1>Mi primera publicación</h1>
                        <p>Este post es mi primera publicación en el blog</p>
                    </div>
                    
                    <%- include('../partials/footer') %>
                </body>
            </html>